<div class="container mt-4">
    <div class="form-group">
        <div class="input-group mb-3">
          <button [routerLink]="['/agregar']" class="btn btn-primary" type="button" id="button-addon2">Agregar</button>
          <input  [(ngModel)]="busqueda" type="text" class="form-control" placeholder="Buscar" aria-label="Recipient's username" aria-describedby="button-addon2">
          <button (click)="buscar()" class="btn btn-primary" type="button" id="button-addon2">Buscar</button>
          <button (click)="limpiar()" class="btn btn-secondary" type="button" id="button-addon2">Limpiar</button>
        </div>
      </div>
    <app-listar [estudiantes]="listaEstudiantes"></app-listar>
</div>